<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Submit date:</b>
  <%= @post.submit_date %>
</p>

<p>
  <b>Message:</b>
  <%= @post.message %>
</p>

<p>
  <b>Tag:</b>
  <%= @post.tag %>
</p>

<p>
  <b>Metadata:</b>
  <%= @post.metadata %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
